@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* 
--collor-white: #ffffff;
--color-black: black;
--color-red: red;
--color-bg: #D9E4F9;

--color-bgSecond: #AECBFF;
--color-outline: #AECBFF;
--color-bgAccent: #ffe066;
--color-textAccent: #0051E5;
--color-text: #403F3B;
 */

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-red: 255 0 0;
    --color-bg: 217 228 249;
    --color-bgSecond: 174 203 255;
    --color-outline: 174 203 255;
    --color-bgAccent: 255 224 102;
    --color-textAccent: 0 81 229;
    --color-text: 64 63 59;
    --transition-duration: 0.3s;
    --color-bgPrimary: 255 251 237;
  }
  @media (prefers-color-sheme: dark) {
    :root {
      --color-white: 255 255 255;
      --color-black: 0 0 0;
      --color-textLink: 0 0 0;
      --color-red: 255 0 0;
      --color-bg: 44 58 67;
      --color-bgSecond: 82 96 123;
      --color-outline: 40 50 70;
      --color-bgAccent: 255 224 102;
      --color-textAccent: 51 143 242;
      --color-text: 51 143 242;
      --transition-duration: 0.3s;
      --color-bgPrimary: 100 116 139;
    }
  }
  :root[data-theme="light"] {
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-textLink: 0 0 0;
    --color-red: 255 0 0;
    --color-bg: 217 228 249;
    --color-bgSecond: 174 203 255;
    --color-outline: 174 203 255;
    --color-bgAccent: 255 224 102;
    --color-textAccent: 0 81 229;
    --color-text: 64 63 59;
    --transition-duration: 0.3s;
    --color-bgPrimary: 255 251 237;
  }
  :root[data-theme="dark"] {
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-textLink: 255 255 255;
    --color-red: 255 0 0;
    --color-bg: 44 58 67;
    --color-bgSecond: 82 96 123;
    --color-outline: 40 50 70;
    --color-bgAccent: 255 177 42;
    --color-textAccent: 0 114 229;
    --color-text: 51 143 242;
    --transition-duration: 0.3s;
    --color-bgPrimary: 100 116 139;
  }
}
body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /* background: var(--bgPrimary); */
}

[data-theme] {
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

.theme-toggle-button {
  transition: transform var(--transition-duration);
}

[data-theme="dark"] .theme-toggle-button {
  transform: rotate(360deg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol,
li,
form {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-stroke {
  -webkit-text-stroke: 0.5px black;
}

.text-shadow {
  text-shadow: 0px 2px 3px rgb(116, 115, 115);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
